html {margin:0px;}

body { 
  color: black; 
  background: white ; 
  font-family:"Arial", Helvetica, sans-serif; 
  margin:0px;
}

br {
        line-height: 150%;
}

div {text-align: center;}

div.wrapper {

	text-align: center;
	overflow: hidden;
}

div.row {


}


div.col { 
	border: 0 solid black;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	overflow: hidden;

}

}